.preresult {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
}

.preresult:last-child {
    border: none;
}

.preresult > div {
    background-color: rgb(201, 201, 201);
}

.preresult .title {
    width: 600px;
    max-width: 90%;
    height: 30px;
}

.preresult .url {
    width: 200px;
    height: 15px;
    max-width: 70%;
}

.preresult .desc {
    width: 500px;
    max-width: 90%;
    height: 80px;
}