@font-face {
  font-family: "Logo";
  src: url("fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("fonts/Product\ Sans\ Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Regular";
  letter-spacing: .5px;
}

body {
  background-color: rgb(250, 250, 250);
}